@import variables/colors
@import mixins/grid
@import mixins/make-responsive
.school-single__header
	:max-width 1601px
	:height 350px
	:position relative
	:margin 0 auto
	.header-overlay
		:background rgba(166,166,166,.4)
		:position absolute 
		:height 350px
		:width 100%
		:top 0
		:left 0
		:z-index 10
	.single-title
		:z-index 100
		:color white
		:position absolute
		:top 50%
		:left 50%
		:transform translate(-50%, -50%)
		:-webkit-transform translate(-50%, -50%)
		:font-size 62px
		:font-weight 400
		:letter-spacing 1.2px
		:margin 0
		:width 100%
		:text-align center	
#single-school
	h2, a, h3
		:color $red	
	h2
		:margin 6px 0	
	a
		:text-decoration none
		:margin-bottom 6px
		:display inline-block
		&:hover
			:text-decoration underline
	.expand
		:font-size 12px		 
.school-single
	&__profile
		+make-column(12)
		+display-for(sm xs)
			+make-column(11)
	&__summary
		p 
			:margin 0 0 6px 0
	&__details
		:margin-bottom 18px
		p 
			:background $light-grey
			:margin 0
			:padding 10px 
			&:nth-child(even)
				:background white		
		span 
			:float right
	&__logo
		:vertical-align top	
		img
			:max-height 150px
			:width auto
			:float right	
			:max-width 100%
.expand-details
	.expanded
		:list-style none				
		:padding 0
	span 
		:cursor pointer	
		:display inline-block
		:transform rotate(-90deg)
		:-webkit-transform rotate(-90deg)
	.rotate
		:transform rotate(0deg)
		:-webkit-transform rotate(0deg)	
