<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recreations_type.name %>
</p>

<%= link_to 'Edit', edit_recreations_type_path(@recreations_type) %> |
<%= link_to 'Back', recreations_types_path %>
