<ul class="sidebar">
	<li><a href="#"><img src="./images/why-boarding.png" alt=""></a></li>
	<li><a href="#"><img src="./images/why-board-canada.png" alt=""></a></li>
	<li><a href="#"><img src="./images/find-your-school.png" alt=""></a></li>
	<li><a href="#"><img src="./images/myths-busted.png" alt=""></a></li>
	<li><a href="#"><img src="./images/ask-us.png" alt=""></a></li>
	<li><a href="#"><img src="./images/your-catalogue.png" alt=""></a></li>
</ul>