<div>
	<h1>Editing School</h1>
	<%= render 'form' %>



	<%= link_to 'Show', @school %> |
	<%= link_to 'Back', schools_path %>
</div>		


<script>
  $(document).on('ready page:load', function(){
    function expand(section){
      $('.'+ section + '-expand').toggleClass('hidden')
      console.log($('.'+ section + '-expand'))
    };


    $(document).on('click', '.expand-academics', function(){
      // expand('academics');
       console.log('it worked')
       $('.academics-expand').toggleClass('hidden')
       $('.expand-academics').toggleClass('rotate')
    });
    $(document).on('click', '.expand-recreations', function(){
      // expand('recreations');
       console.log('it worked')
       $('.recreations-expand').toggleClass('hidden')
       $('.expand-recreations').toggleClass('rotate')
    });
    $(document).on('click', '.expand-campus', function(){
      // expand('campus');
      console.log('it worked')
      $('.campus-expand').toggleClass('hidden')
      $('.expand-campus').toggleClass('rotate')
    });
    $(document).on('click', '.expand-summer', function(){
      $('.summer-expand').toggleClass('hidden')
      $('.expand-summer').toggleClass('rotate')
    });
  });  
  
</script>