<footer>
	<div class="social-nav-container">
		<ul class="social-nav">
			<li><a href="https://www.facebook.com/caisboarding" class="fa fa-facebook"><i></i></a></li>
			<li><a href="https://twitter.com/CAISboarding"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://instagram.com/caisboarding"><i class="fa fa-instagram"></i></a></li>
			<li><a href="http://www.youtube.com/channel/UC-PxdT8TgtnG-DBlkacPkwA"><i class="fa fa-youtube-play"></i></a></li>
			<li><a href="mailto:jgreenshields@cais.ca"><i class="fa fa-envelope-o"></i></a></li>
		</ul>
	</div>	
	<p>© 2015 | 264 Welland Ave., U-2 O/P | St. Catharines, ON L2R 2P8 | +1 (905) 684 5658 | <a href="#">jgreenshields@cais.ca</a> | <a href="">Contact Us</a> | <a href="#">Privacy Policy</a></p>
</footer>