<% if @school.featured_image_url.present? %>
<div class="school-single__header" style="background: url(<%=@school.featured_image_url%>); background-size:cover;">
	<div class="header-overlay"></div>
	<h1 class="single-title"><%= @school.name %></h1>
</div>
<% end %>